(cors) {
	@origin{args.0} header Origin {args.0}
	header @origin{args.0} Access-Control-Allow-Origin "{args.0}"
	header @origin{args.0} Vary Origin
}

giant-bomb.sultanov.team {
	handle /api/* {
		reverse_proxy https://www.giantbomb.com
	}

	handle /* {
		root * /public
		file_server
		header Access-Control-Allow-Methods "POST, GET, OPTIONS"
		@options {
			method OPTIONS
		}
		respond @options 204
		import cors https://www.giantbomb.com
		import cors https://giant-bomb.sultanov.team
		try_files {path} /index.html
	}

	header {
		Strict-Transport-Security max-age=31536000;
		X-Content-Type-Options nosniff
	}

	log {
		level info
		format console
	}
}
